# No whitespace after the comma or in the keyboard name!
config SHIELD_MULTI_CONTROL
    def_bool $(shields_list_contains,multi_control)

# No whitespace after the comma or in your part name!
config SHIELD_MULTI_PERIPHERAL_ONE
    def_bool $(shields_list_contains,multi_peripheral_one)

# No whitespace after the comma or in your part name!
config SHIELD_MULTI_PERIPHERAL_TWO
    def_bool $(shields_list_contains,multi_peripheral_two)